
/*estilos nav*/

/* @-webkit-keyframes color-change-2x {
  0% {
    background: #0c3a83;
  }
  100% {
    background: #bdc6d4;
  }
}
@keyframes color-change-2x {
  0% {
    background: #7b808fae;
    
  }
  100% {
    background: #062e59;
  }
}

.navbar{
  -webkit-animation: color-change-2x 5s ease-in-out infinite alternate both;
	        animation: color-change-2x 5s ease-in-out infinite alternate both;
}
*/

